/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.bodybg{
 /*-fx-background-image: url('file:///C:/Users/jacobsongal/Desktop/FlightSimulatorController/resources/background.jpg');*/
 -fx-background-image: url('./images/Cessana.jpg');
 -fx-background-size: 100% 100%;
}
.rad{

}
#calc{

}
.slider .axis .axis-tick-mark {
    -fx-fill: null;
    -fx-stroke: red;
}



.slid {


        -fx-control-inner-background: #000000!important;
         -fx-font-size:13px;
          -fx-opacity:0.5;


        }


#rudder .thumb{

   -fx-background-color: #ff0000!important;
}
#throttle .thumb{

   -fx-background-color: #ff0000!important;
}
#TextArea{
-fx-font-family: Consolas; -fx-highlight-fill: #00ff00; -fx-highlight-text-fill: #0000ff; -fx-text-fill: #ff0000;
-fx-opacity:0.5;
}